<article>
    <header>
        <h3>{{{i18n 'FAQ'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <dl>
            <dt>{{{i18n 'Why is the cooldown as long as it is?'}}}</dt>
            <dd>{{{i18n 'The time it takes to get a pixel is dynamic, and changes based on how many people are online. The cooldown time is longer when more users are online. The cooldown is also doubled when overwriting an already-placed pixel.'}}}</dd>
            <dt>{{{i18n 'Why does it say 0/10 pixels?'}}}</dt>
            <dd>{{{i18n 'This means that you are waiting for your next pixel. When you place a pixel, there is a cooldown for when you can place the next one. Over time, you can gain up to 10 "stacked" pixels to place at once.'}}}</dd>
            <dt>{{{i18n 'Why does it take so long to "stack" pixels?'}}}</dt>
            <dd>{{{i18n 'This is by design. It is better to place a pixel as soon as you get one. Pixel "stacking" is meant to give you a bump if you go AFK for a bit. Pixel stack 3 times slower than the normal cooldown.'}}}</dd>
            <dt>{{{i18n 'How do I appeal a ban?'}}}</dt>
            <dd>{{{i18n 'Contact the Respos Challenges on Instagram (@moyen_insage_defis) or Messenger after reading the rules in the site\'s info panel.'}}}</dd>
            <dt>{{{i18n 'How do I make a template?'}}}</dt>
            <dd>{{{i18n 'A template is an image link that is posted in the template textbox in the settings panel so you can place over it on the canvas. You may use a regular image link to your pixel art, but many people use 3rd party tools. If you need to make pixel art yourself, you can use <a href="https://www.piskelapp.com/p/create" target="_blank">Piskel</a>. In order to share your template, it\'s best to host it on a web server. The easiest way is to just put it in a discord or <a href="https://mastodon.insa.lol">Mastodon</a> message and copy the link to the image.'}}}</dd>
            <dt>{{{i18n 'How do I move a template?'}}}</dt>
            <dd>{{{i18n 'Hold <kbd>CTRL</kbd> (or <kbd>OPTION</kbd> on macOS) and click and drag to move it around. On mobile, you can tap and hold where you want to move the template and click "Move Template Here" in the pop-up.'}}}</dd>
            <dt>{{{i18n 'When does the event end?'}}}</dt>
            <dd>{{{i18n 'The event will last until Friday evening. The precise time will not be announced to prevent last-second attacks.'}}}</dd>
            <dt>{{{i18n 'How many integration points will departments receive?'}}}</dt>
            <dd>{{{i18n 'We will select an amount the feels appropriately large once we get a better overview of the worth of these points.'}}}</dt>
            <dd>{{{i18n 'By shift-clicking (or tap and hold on mobile) a pixel, you can see who placed a pixel, how many pixels they have placed, and when they placed it.'}}}</dd>
            <dt>{{{i18n 'How do I report someone?'}}}</dt>
            <dd>{{{i18n 'Do not use the report button, admins won\'t see those. Just contact the leprechauns on Instagram or Messenger after reading the rules.'}}}</dd>
            <dt>{{{i18n 'What is a "virginmap"?'}}}</dt>
            <dd>{{{i18n 'The virginmap shows which pixels have not yet been placed on (or “virgin” pixels). Place on these pixels first as they give smaller cooldowns.'}}}</dd>
            <dt>{{{i18n 'How do I report bugs?'}}}</dt>
            <dd>{{{i18n 'Submit bugs to the orignal devs in the #dev-and-bugs channel in their <a href="https://pxls.space/discord" target="_blank">Discord server</a>. If you have found an exploit, please message one of their staff members privately (through DMs).'}}}</dd>
            <dt>{{{i18n 'How do I get more info or contact staff?'}}}</dt>
            <dd>{{{i18n 'Check the info panel (the icon on the top left) for more details and links, or join our <a href="https://discord.com/invite/TpdbUyfcbJ" target="_blank">Discord server</a>, where a staff member will gladly respond.'}}}</dd>
            <dt>{{{i18n 'What if I cheat?'}}}</dt>
            <dd>{{{i18n 'I will find you. At the end of the event, I will review all the logs for every single user. All suspicious activity will be investigated. Group behavior will also be monitored to detect accounts controlled by a single user. Confirmed cheaters will see all their pixels removed and will be reported to the BDE.'}}}</dd>
        </dl>
    </div>
</article>
