<article data-id="welcome">
    <header>
        <h3>{{{i18n 'Welcome!'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <p>{{{i18n 'Welcome to INSA\'s pixel war! This is a temporary event part of the third year student integration at INSA Rouen by <a href="https://www.instagram.com/moyen_insage">@moyen_insage</a>. This website allows you to create anything you can imagine, one pixel at a time. The canvas is open from Monday to Friday, but closed at night from 1h30 to 6h30.'}}}</p>
        <p>{{{i18n 'Students participate as team members of their departments\' factions. Departments will be ranked at the end of the event and will be rewarded for their efforts. Every participating department will receive points based on <a href="/stats">their ranking</a>. The amount of points will be announced in a few days.'}}}</p>
        <p>{{{i18n 'If you have any question or requirements you can reach the Respos Challenges of your Department, or on instagram <a href="https://www.instagram.com/moyen_insage_defis">@moyen_insage_defis</a>.'}}}</p>
        <p>{{{i18n 'Please take the time to read the rules below, and have fun creating (or changing) art!'}}}</p>
    </div>
</article>
<article data-id="canvas-rules" id="canvas-rules">
    <header>
        <h3 class="text-red">{{{i18n 'Canvas Rules'}}}</h3>
    </header>
    <div class="pad-wrapper" id="rules-content">
        <p>{{{i18n 'We pride ourselves on trying to keep an open canvas for all free from outside interference on our end, and especially censorship. However, for the good of the community and on accounts of our own beliefs, please acknowledge and obey the following guidelines:'}}}</p>
        <ol>
            <li>{{{i18n 'No hateful imagery or derogatory speech.'}}}</li>
            <li>{{{i18n 'No NSFW content.'}}}</li>
            <li>{{{i18n 'No auto-placement tools of any kind: you must place the pixels manually.'}}}</li>
            <li>{{{i18n 'Do not abuse site functionality, such as reports or lookups. (e.g. automated reporting/lookups, etc.)'}}}</li>
            <li>{{{i18n 'Any automated aggregation of data from user lookups is not allowed, and will result in a ban.'}}}</li>
            <li>{{{i18n 'No sharing of accounts.'}}}</li>
        </ol>
        <p>{{{i18n 'If you believe you have been falsely banned you may contact a moderator or administrator.'}}}</p>
        <p>{{{i18n 'Usage of templates is autorized and encouraged.'}}}</p>
        <p>{{{i18n 'Departments with less students are expected to cover less territory. To balance the game, we don\'t directly rank departments by their territory but apply a coefficient to ensure fair chances for everyone. Coefficients are the same as <a href="https://docs.google.com/spreadsheets/d/1Rrd979ERSQUtttDS2cIrcZ8AkoIHDvGA_bwmxZ5em-w/edit?gid=0#gid=0">those chosen by the leprechauns for the challenges</a>.'}}}</p>
        <p>{{{i18n 'Please keep in mind that those numbers may slightly vary as not all students are fully registering in INSA systems yet. Upon request, we will manually approve those who didn\'t fully pay their tuition fees.'}}}</p>
    </div>
</article>
<article data-id="chat-rules" id="chat-rules">
    <header>
        <h3 class="text-red">{{{i18n 'Chat Rules'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <ol>
            <li>{{{i18n 'No hate speech or hate symbols'}}}</li>
            <li>{{{i18n 'No harassment and insults'}}}</li>
            <li>{{{i18n 'No spam (repetitive messages, copypasta, ascii art, etc.)'}}}</li>
            <li>{{{i18n 'No linking towards websites with inappropriate content'}}}</li>
            <li>{{{i18n 'Not doxing'}}}</li>
        </ol>
    </div>
</article>
<article data-id="links">
    <header>
        <h3>{{{i18n 'Links'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <ul>
            <li><a href="https://www.instagram.com/moyen_insage" target="_blank">{{{i18n 'Insta @moyen_insage'}}}</a></li>
            <li><a href="https://www.instagram.com/moyen_insage_defis" target="_blank">{{{i18n 'Insta @moyen_insage_defis'}}}</a></li>
        </ul>
        <ul>
            <li><a href="https://discord.com/invite/TpdbUyfcbJ" target="_blank">{{{i18n 'Discord'}}}</a></li>
            <li><a href="https://pixelwar.insa.lol/stats" target="_blank">{{{i18n 'Statistics'}}}</a></li>
            <li><a href="https://pixelwar.insa.lol/profile" target="_blank">{{{i18n 'Profile (user info, factions, etc.)'}}}</a></li>
        </ul>
        <ul>
            <li><a href="https://github.com/pxlsspace/Pxls" target="_blank">{{{i18n 'GitHub (back end)'}}}</a></li>
            <li><a href="https://github.com/pxlsspace/pxls-web" target="_blank">{{{i18n 'GitHub (front end)'}}}</a></li>
            <li><a href="https://joinlemmy.org" target="_blank">{{{i18n 'Reddit alternative'}}}</a></li>
            {{! link to piskelapp.com }}
            <li><a href="http://www.piskelapp.com/p/create/sprite" target="_blank">{{{i18n 'Single-player mode'}}}</a></li>
        </ul>
        <ul>
            <li><a href="https://insa.lol" target="_blank">{{{i18n 'INSA.lol'}}}</a></li>
            <li><a href="https://insagenda.insa.lol" target="_blank">{{{i18n 'INSAgenda'}}}</a></li>
            <li><a href="https://mastodon.insa.lol/@simon_girard" target="_blank">{{{i18n '@mubelotix'}}}</a></li>
        </ul>
    </div>
</article>
